<div class="p-28">
  <div fxLayout="row wrap" fxLayoutGap="24px grid">
    <!-- <div fxFlex="25" *ngFor="let list of talentLists" (click)="showDetails(list)">
      <div class="bg-white p-20 rounded-8 card-shadow">
        <div>
          <div class="talent-list-header text-center">
            <h2 class="bold mb-12">{{list.name}}</h2>
            <img [src]="list.image" height="75px" width="75px" class="rounded-full">
          </div>
          <div class="leading-15 mt-12">
            <p>{{list.type}}</p>
            <p>Hourly Pay:  {{list.Hourly_Pay}}</p>
            <p>currently available:  {{list.currently_available}}</p>
          </div>
        </div>
      </div>

    </div> -->
  </div>
</div>
