<div>
  <div class="p-28 bg-white">
    <div fxLayout="row" fxLayoutAlign="start center" class="mt-28 mb-28">
      <img src="assets/images/profile.png" alt="avatar" height="70px" width="70px" class="rounded-full">
      <div class="ml-20">
        <h1 class="text-black">Welcome back, {{ currentUser?.name }}!</h1>
        <p class="text-gray text-16">{{ currentUser?.address }}</p>
      </div>
    </div>
    <!-- <div class="p-16">
      <div class="text-black">
        <p>{{ users?.avatar }}</p>
        <p>{{ users?.gender }}</p>
        <p>{{ users?.phone }}</p>
        <p class="leading-normal">{{ users?.role }}</p>
      </div>
    </div> -->
  </div>
  <div class="p-28">
    <div>
      <h2 class="mb-20">DASHBOARD</h2>
      <div fxLayout="row wrap" fxLayoutGap="20px grid">
        <div fxFlex="25" *ngFor="let i of [{label: 'Active Projects', color: '#3B81F6', num: dashboard?.active_projects},
        {label: 'Completed Projects', color: '#F59E0B', num: dashboard?.completed_projects},
        {label: 'Currently Hired', color: '#EF4444', num: dashboard?.currently_hired}, {label: 'Amount', color: '#21C55D', num: 'Nu. '+dashboard?.amount_paid} ]">
          <div class="rounded-8 bg-white p-20">
            <h3>{{ i.label }}</h3>
            <p class="text-58 bold leading-normal text-center mt-28" [style.color]="i.color">{{ i.num }}</p>
            <p class="text-gray text-center mt-32">{{i.label}}: {{i.num}}</p>
          </div>
        </div>
      </div>
    </div>
    <div fxLayoutAlign="center end" class="mt-32">
      <button mat-button class="bg-primary text-white bold">My Projects</button>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="32px" class="mt-32">
    <div fxFlex="40" class="border-gray p-28 rounded-8">
      <h2>Accounts</h2>
    </div>
    <div fxFlex="60" class="border-gray p-28 rounded-8">
      <h2>Incidents</h2>
    </div>
  </div>
</div>
