<div>
  <div>
    <div>
      <img src="assets/images/google.png" alt="">
      <p>{{ users?.name }}</p>
      <p>{{ users?.address }}</p>
      <p>{{ users?.avatar }}</p>
      <p>{{ users?.email }}</p>
      <p>{{ users?.gender }}</p>
      <p>{{ users?.phone }}</p>
      <p>{{ users?.role }}</p>
<hr>
    </div>
    <div>
      <p>Currently hired</p>
      <p>345678</p>
    </div>
    <div>
      <p>Your projects</p>
      <p>345678</p>
    </div>
  </div>
  <div>
    <div>
      <p>Amount</p>
    </div>
    <div>
      <p>Incidents</p>
    </div>
  </div>
</div>
