<div>
    <div>
      <h2 class="mb-12">Edit Profile</h2>
      <br>
      <!-- <div>
        <div class="file-upload" type="file" (click)="file.click()">Upload</div>
        <input [hidden]="true" class="image-uploader" #file  pattern="'.jpg,.jpeg,.png'"
               accept="image/jpg,image/jpeg,image/png" (click)="selectFiles($event)">
      </div> -->
      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="12px" class="mt-16">
        <button mat-button mat-flat-button color="primary" (click)="cancel()">Cancel</button>
        <button mat-button mat-flat-button color="primary" (click)="editAdditional()">Update</button>
      </div>
    </div>
  </div>
  