.hack-landing {

  &__header {
    position: sticky;
    top: 0;
    left: 0;
    transition: 2s;
  }

 &__banner {
   height: 450px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position-y: center;

   &-layer {
     background: linear-gradient(5deg, #222 -2%, rgba(34, 34, 34, 0.5));
     height: 100%;
   }
 }
}

.f1{
  display: flex;
  flex-wrap: wrap;

}
.f2{
  text-align: center;
  padding: 20px;
  flex-direction: column;

}
