.hack-landing {

  &__header {
    position: sticky;
    top: 0;
    left: 0;
    transition: 2s;
  }

 &__banner {
   height: 450px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position-y: center;

   &-layer {
     background: linear-gradient(5deg, #222 -2%, rgba(34, 34, 34, 0.5));
     height: 100%;
   }
 }
}

.f1{
  display: flex;
  flex-wrap: wrap;

}
.f2{
  text-align: center;
  padding: 20px;
  flex-direction: column;

}

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
