<div class="hack-landing bg-white">
  <header fxLayout="row" fxLayoutAlign="space-between center" class="px-20 py-12 bg-white hack-landing__header">
    <img src="assets/images/google.png" alt="logo" height="66px" width="auto">
    <div fxLayout="row" fxLayoutGap="20px">
      <a href="#">HOME</a>
      <a href="#">HOME</a>
      <a href="#">HOME</a>
      <a href="#">HOME</a>
      <a href="#">HOME</a>
    </div>
  </header>
  <div class="hack-landing__banner w-full" style="background-image: url('assets/images/banner.jpg');">
    <div fxLayout="row" fxLayoutAlign="end center" class="hack-landing__banner-layer">
      <div fxFlex="50">
        <h1 class="text-white" style="font-size: 38px;">Find you job with Layoed here</h1>
      </div>
    </div>
  </div>
  <div class="text-center p-80">
    <h1>Updated News</h1>
    <div fxLayout="row wrap" fxLayoutGap="">

    </div>
  </div>
</div>
