<div class="hack-landing">
  <header fxLayout="row" fxLayoutAlign="space-between center" class="px-20 py-12 bg-white hack-landing__header">
    <img src="assets/images/google.png" alt="logo" height="66px" width="auto">
    <div fxLayout="row" fxLayoutGap="20px">
      <a href="#">HOME</a>
      <a href="#">HOME</a>
      <a href="#">HOME</a>
      <a href="#">HOME</a>
      <a href="#">HOME</a>
    </div>
  </header>
  <div class="hack-landing__banner w-full" style="background-image: url('assets/images/banner.jpg');">
    <div fxLayout="row" fxLayoutAlign="end center" class="hack-landing__banner-layer">
      <div fxFlex="50">
        <h1 class="text-white" style="font-size: 38px;">Find you job with Layoed here</h1>
      </div>
    </div>
  </div>

  <div class="text-center p-80">
    <h1 class="mb-32">Updated News</h1>
    <div fxLayout="row wrap" fxLayoutGap="28px grid">
      <div fxFlex="25" *ngFor="let i of [0,1,2,3]">
        <div class="bg-white rounded-8 p-20">
          <h3 class="mb-20">UX/UI design</h3>
          <p>This UX/UI design test evaluates candidates' knowledge of the overall UX/UI design process and their ability to turn feature requirements into useful and intuitive designs for digital products that provide a great experience to your users.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white p-80">
    <h1 class="mb-32 text-center">Latest Hires</h1>
    <div fxLayout="row wrap" fxLayoutGap="28px grid">
      <div fxFlex="25" *ngFor="let i of [0,1,2,3]">
        <div class="border-gray rounded-8 p-20">
          <h3 class="mb-20">UX/UI design</h3>
          <p>This UX/UI design test evaluates candidates' knowledge of the overall UX/UI design process and their ability to turn feature requirements into useful and intuitive designs for digital products that provide a great experience to your users.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="p-80">
    <h1 class="mb-32 text-center">Filteration</h1>
    <div fxLayout="row wrap" fxLayoutGap="28px grid">
      <div fxFlex="25" *ngFor="let i of [0,1,2,3]">
        <div class="bg-white rounded-8 p-20">
          <h3 class="mb-20">UX/UI design</h3>
          <p>This UX/UI design test evaluates candidates' knowledge of the overall UX/UI design process and their ability to turn feature requirements into useful and intuitive designs for digital products that provide a great experience to your users.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="hack-footer bg-primary p-80">

  </div>
</div>
