<div>
  <div fxLayoutAlign="center end" class="hack-profile">
    <img class="hack-profile__img" height="120px" width="120px"
         src="https://testasmpublic-14e65.kxcdn.com/1653235566_6e861319fbc9abe3cb513888a90479_lalit.jpeg">
  </div>
  <div class="mt-60">
    <h2 class="text-center">{{ user?.name || 'N/A' }}</h2>
  </div>
  <div fxLayoutAlign="center" class="mt-28 p-20">
    <div fxFlex="70">
      <span *ngIf="isEdit" (click)="goBack()" class="cursor-pointer"><mat-icon>arrow_back</mat-icon></span>
      <div *ngIf="!isEdit" class="bg-white p-20 rounded-8 card-shadow">
        <div fxLayout="row" fxLayoutAlign="space-between start" class="mb-12">
          <h2>Personal Information</h2>
          <mat-icon class="cursor-pointer text-primary text-20" (click)="editProfile()">edit</mat-icon>
        </div>
        <p>Name - {{ user?.name || 'N/A' }}</p>
        <p>Email - {{ user?.email || 'N/A' }}</p>
        <p>Phone Number  - {{ user?.phone || 'N/A' }}</p>
        <p>Address - {{ user?.address || 'N/A' }}</p>
        <p>Gender - {{ user?.gender || 'N/A' }}</p>
        <p>Role - {{ user?.roles || 'N/A' }}</p>
      </div>
      <div *ngIf="isEdit" class="bg-white rounded-8 card-shadow p-20 mt-28">
        <app-user-profile-modal (isEdit)="toggleEdit($event)"></app-user-profile-modal>
      </div>
    </div>
  </div>

  <div fxLayoutAlign="center" class="mt-28 p-20">
    <div fxFlex="70">
      <span *ngIf="isAdditional" (click)="goBackAdd()" class="cursor-pointer"><mat-icon>arrow_back</mat-icon></span>
      <div *ngIf="!isAdditional" class="bg-white p-20 rounded-8 card-shadow">
        <div fxLayout="row" fxLayoutAlign="space-between start" class="mb-12">
          <h2>Additional Information</h2>
          <mat-icon class="cursor-pointer text-primary text-20" (click)="additionalInfo()">edit</mat-icon>
        </div>
        <h3>Bank Information</h3>
        <p>Bank - {{ user?.worker_profile?.bank_name || 'N/A' }}</p>
        <p>Account Number - {{ user?.worker_profile?.account_number || 'N/A' }}</p>
        <br>
        <h3>Worker Details</h3>
        <p>Profession - {{ user?.worker_profile?.profession || 'N/A' }}</p>
        <p>{{ user?.worker_profile?.available ? 'Currently Available' : 'Currently Unavailable' }}</p>
      </div>
      <div *ngIf="isAdditional" class="bg-white rounded-8 card-shadow p-20 mt-28">
        <!-- <app-user-profile-modal (isAdditional)="toggleEdit($event)"></app-user-profile-modal> -->
        <app-additional-info (isAdditional)="toggleAdditional($event)"></app-additional-info>
      </div>
    </div>
  </div>

</div>
