<div>
  <div>
    <h2 class="mb-12">Edit Profile</h2>
    <div [formGroup]="userEditForm">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Your Full Name</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>

      <input #picFile type="file" pattern="'.jpg,.png'" accept="image/png,image/jpg"
        (change)="uploadAvatar($event)" />

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let gender of genderList" [value]="gender">{{gender}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Role</mat-label>
        <mat-select formControlName="roles">
          <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Address</mat-label>
        <textarea matInput type="text" formControlName="address" placeholder="Address"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Email"><br>
      </mat-form-field>

      <!-- <mat-form-field appearance="outline" class="w-full">
        <mat-label>Password</mat-label>
        <input matInput type="text" formControlName="password" placeholder="Roles"><br>
      </mat-form-field> -->

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Phone Number</mat-label>
        <input matInput type="phone" formControlName="phone" placeholder="Phone Number"><br>
      </mat-form-field>
    </div>
    <br>
    <!-- <div>
      <div class="file-upload" type="file" (click)="file.click()">Upload</div>
      <input [hidden]="true" class="image-uploader" #file  pattern="'.jpg,.jpeg,.png'"
             accept="image/jpg,image/jpeg,image/png" (click)="selectFiles($event)">
    </div> -->
    <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="12px" class="mt-16">
      <button mat-button mat-flat-button color="primary" (click)="cancel()">Cancel</button>
      <button mat-button mat-flat-button color="primary" (click)="editUser()">Update</button>
    </div>
  </div>
</div>
