<div fxLayout="row" fxLayoutAlign="space-between start" class="p-28 bg-white">

  <mat-form-field appearance="outline">
    <mat-label>Select One</mat-label>
    <mat-select (selectionChange)="selectProject($event?.value)" [(value)]="currentProject">
      <mat-option *ngFor="let item of projects" [value]="item?.id">
        {{ item?.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button [disabled]="!id" class="bg-primary text-white" (click)="newTask()" mat-button *ngIf="role === 'Buyer'">
    <mat-icon>add</mat-icon> Add Task
  </button>
</div>
<div class="content-wrapper p-28" [ngClass]="{'diable-whole': role !== 'Buyer'}">

  <div class="container-wrapper">
    <div class="container">
      <div class="px-20">
        <div class="bg-white mb-16 p-12 rounded-4 card-shadow" style="border-bottom: 2px solid #FFD035;">
          <h3>Requested</h3>
        </div>
      </div>

      <mat-card cdkDropList id="todo" #todoList="cdkDropList" [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList, inProgressList]" (cdkDropListDropped)="drop($event, 0)" class="list mat-elevation-z0">
        <p class="empty-label" *ngIf="todo.length === 0">Empty list</p>
        <app-kanban cdkDropList *ngFor="let task of todo" (click)="showCardDetails(task.id)" cdkDrag [task]="task" (cdkDragReleased)=setId(task)></app-kanban>
      </mat-card>
    </div>

    <div class="container">
      <div class="px-20">
        <div class="bg-white p-12 mb-16 rounded-4 card-shadow" style="border-bottom: 2px solid #4094F6;">
          <h3>In progress</h3>
        </div>
      </div>

      <mat-card cdkDropList id="inProgress" #inProgressList="cdkDropList" [cdkDropListData]="inProgress"
        [cdkDropListConnectedTo]="[todoList, doneList]" (cdkDropListDropped)="drop($event, 1)" class="list mat-elevation-z0">
        <p class="empty-label" *ngIf="inProgress.length === 0">Empty list</p>
        <app-kanban *ngFor="let task of inProgress" (click)="showCardDetails(task.id)" cdkDrag [task]="task" (cdkDragReleased)=setId(task)>
        </app-kanban>
      </mat-card>
    </div>

    <div class="container">
      <div class="px-20">
        <div class="bg-white p-12 mb-16 rounded-4 card-shadow" style="border-bottom: 2px solid #2DCD6E;">
          <h3>Done</h3>
        </div>
      </div>

      <mat-card cdkDropList id="done" #doneList="cdkDropList" [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList, inProgressList]" (cdkDropListDropped)="drop($event, 2)" class="list mat-elevation-z0">
        <p class="empty-label" *ngIf="done.length === 0">Empty list</p>
        <app-kanban *ngFor="let task of done" (click)="showCardDetails(task.id)" cdkDrag [task]="task" (cdkDragReleased)=setId(task)></app-kanban>
      </mat-card>
    </div>
  </div>
</div>
