.content-wrapper {
    max-width: 1400px;
    margin: auto;
  }

  .container-wrapper {
    display: flex;
    justify-content: space-around;
  }

  .container {
    width: 400px;
    margin: 0 25px 25px 0;
  }

  .list {
    border-top: solid 2px #6AC94F;
    border-radius: 2px;
  }

  .app-new-task {
    margin-bottom: 30px;
  }

  .empty-label {
    text-align: center;
    opacity: 0.2;
  }

  .cdk-drag-animating {
    transition: transform 250ms;
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .mat-card {
    padding: 10px !important;
  }
