.content-wrapper {
    max-width: 1400px;
    margin: auto;
  }

  .container-wrapper {
    display: flex;
    justify-content: space-around;
  }

  .container {
    width: 400px;
    margin: 0 25px 25px 0;
  }

  .app-new-task {
    margin-bottom: 30px;
  }

  .empty-label {
    text-align: center;
    opacity: 0.2;
  }

  .cdk-drag-animating {
    transition: transform 250ms;
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .mat-card {
    padding: 20px !important;
    background-color: #F1F5F9 !important;
  }
