<div fxLayout="row" fxLayoutAlign="space-between start" class="p-28 bg-white">

  <mat-form-field appearance="outline">
    <mat-label>Select One</mat-label>
    <mat-select (selectionChange)="selectProject($event)">
      <mat-option *ngFor="let item of projects" [value]="item?.id">
        {{ item?.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button [disabled]="!selectedProject" class="bg-primary text-white" (click)="newTask()" mat-button>
    <mat-icon>add</mat-icon> Add Task
  </button>
</div>
<div class="content-wrapper p-28">

  <div class="container-wrapper">
    <div class="container">
      <h2>Requested</h2>

      <mat-card cdkDropList id="todo" #todoList="cdkDropList" [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList, inProgressList]" (cdkDropListDropped)="drop($event, 0)" class="list">
        <p class="empty-label" *ngIf="todo.length === 0">Empty list</p>
        <app-kanban cdkDropList (edit)="editTask('todo', $event)" *ngFor="let task of todo" (click)="showCardDetails(task.id)" cdkDrag [task]="task" (cdkDragReleased)=setId(task)></app-kanban>
      </mat-card>
    </div>

    <div class="container">
      <h2>In progress</h2>

      <mat-card cdkDropList id="inProgress" #inProgressList="cdkDropList" [cdkDropListData]="inProgress"
        [cdkDropListConnectedTo]="[todoList, doneList]" (cdkDropListDropped)="drop($event, 1)" class="list">
        <p class="empty-label" *ngIf="inProgress.length === 0">Empty list</p>
        <app-kanban (edit)="editTask('inProgress', $event)" *ngFor="let task of inProgress" (click)="showCardDetails(task.id)" cdkDrag [task]="task" (cdkDragReleased)=setId(task)>
        </app-kanban>
      </mat-card>
    </div>

    <div class="container">
      <h2>Done</h2>

      <mat-card cdkDropList id="done" #doneList="cdkDropList" [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList, inProgressList]" (cdkDropListDropped)="drop($event, 2)" class="list">
        <p class="empty-label" *ngIf="done.length === 0">Empty list</p>
        <app-kanban (edit)="editTask('done', $event)" *ngFor="let task of done" (click)="showCardDetails(task.id)" cdkDrag [task]="task" (cdkDragReleased)=setId(task)></app-kanban>
      </mat-card>
    </div>
  </div>
</div>
