<div>
<ng-container>
  <div fxLayout="row" fxLayoutAlign="space-between start" class="bg-white p-28">
    <span (click)="goBack()" class="cursor-pointer"><mat-icon>arrow_back</mat-icon></span>
  <div fxLayout="row" fxLayoutGap="12px">
    <div fxLayout="row" fxLayoutGap="12px" *ngIf="role === 'Buyer'">
      <button mat-button mat-stroked-button (click)="editCard()">edit</button>
      <button mat-button class="bg-primary text-white" (click)="deleteCard()">Delete</button>
    </div>

    <div fxLayout="row" fxLayoutGap="12px">
      <ng-container *ngIf="role === 'Worker'">
        <button mat-button mat-stroked-button (click)="Apply()">Apply to this Card</button>
      </ng-container>
      <ng-container>
        <button mat-button class="bg-primary text-white" (click)="negotiate()"><span>Negotiate</span>
          <mat-icon class="text-18">question_mark</mat-icon></button>
      </ng-container>
    </div>
  </div>

</div>
</ng-container>

  <div  class="p-28">
    <div fxLayout="row" class="p-28 w-full rounded-8 card-shadow bg-white">
      <div fxFlex="50" class="card-details__image">
        <h2 class="mb-20">{{cardDetails?.title}}</h2>
        <img src="https://testasmpublic-14e65.kxcdn.com/1654725726_26f080c4bf16520b38c0c24c9d3ca5_card.jpeg"
        alt="profile" height="90%" width="100%">
       </div>
      <div fxFlex="50" class="m-12 pl-32 p-16 mt-32">
        <p class="text-18 mt-18 mb-12">{{cardDetails?.description}}</p>
        <div fxLayout="row" fxLayoutAlign="start center" class="text-18 mt-18">
          <mat-icon class="mr-12">today</mat-icon> <p>{{cardDetails?.start_date}} - {{cardDetails?.end_date}}</p>
        </div>
         <p class="text-18 mt-18" >assignees</p>
      <p class="text-18 mt-18">
        Nu.{{cardDetails?.price}}
      </p>
      </div>

      <!--  show it in chips-->

    </div>
  </div>
</div>
