<div style="padding-bottom: 20px;">
  <div fxLayoutAlign="center" style="height: 350px; background-color: var(--primary);" class="text-white text-center">
    <div style="padding-top: 60px; width: 60%;">
      <h1 class="mb-12">Free & Standard Pricing</h1>
      <p class="leading-17">hjda f jkhd hjdaf jhajds hajdf hbjadfn ajsdfh  jha dhkaf  jhadf ajkf hjda
        f jkhd hjdaf jhajds hajdf hbjadfn ajsdfh  jha dhkaf  jhadf ajkf</p>
    </div>
  </div>
  <div style="margin-top: -154px;">
    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="28px">
      <div style="width: 400px;" class="bg-white rounded-8 mat-elevation-z3">
        <div style="background-color: #F5F4F3; border-top-left-radius: 8px; border-top-right-radius: 8px;"
             class="text-center p-20">
          <h3>Free</h3>
          <h2 class="mt-8 mb-8">Nu. 0</h2>
          <button mat-button class="bg-primary text-white">Current Plan</button>
        </div>
        <div class="hack-sub mt-28 px-32 mb-20">
          <ul>
            <li *ngFor="let free of ['1 project allowed', 'Access to all workers', 'Project progress', 'Finance systems', '3% cut']"
            >{{ free }}</li>
          </ul>
        </div>
      </div>

      <div style="width: 400px" class="bg-white rounded-8 mat-elevation-z23">
        <div style="background-color: #F1F2F3; border-top-left-radius: 8px; border-top-right-radius: 8px;"
             class="text-center p-20">
          <h3>Standard</h3>
          <h2 class="mt-8 mb-8">Nu. 299</h2>
          <button mat-button class="bg-primary text-white" (click)="premium()">Subscription</button>
        </div>
        <div class="hack-sub mt-28 px-32 mb-20">
          <ul>
            <li *ngFor="let standard of ['Unlimited Project Allowed', 'Access to all worker',
            'Professional Workers', 'Assignment system', 'Book mark feature', 'Project Progress', 'Payment portal', '1% platform charge',
            'Work tracker', 'negotiation platform', 'chat', 'Performance Analytics']"
            >{{ standard }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

