<div>
  <div class="p-28 bg-white">
    <div fxLayout="row" fxLayoutAlign="start center" class="mt-28 mb-28" style="background: #F9F8EB !important">
      <img src="assets/images/profile.png" alt="avatar" height="70px" width="70px" class="rounded-full">
      <div class="ml-20">
        <h1 class="text-black">Welcome back, {{ currentUser?.name }}!</h1>
        <p class="text-gray text-16">{{ currentUser?.address }}</p>
      </div>
    </div>
  </div>
  <div class="p-28">
    <div>
      <h2 class="mb-20">DASHBOARD</h2>
      <div fxLayout="row grid" fxLayoutAlign="start end" fxLayoutGap="20px">
            <div fxFlex="30"  class="m-12" *ngFor="let i of [{label: 'Total Cards', color: '#3B81F6', num: dashboard?.admin_total_cards},
        {label: 'total Projects', color: '#F59E0B', num: dashboard?.admin_total_projects},
        {label: 'Total Commission', color: '#EF4444', num: dashboard?.commission}, {label: 'Net Amount', color: '#21C55D', num: 'Nu. '+dashboard?.net_amount},
        {label: 'Subscribed Users', color: '#21C55D', num: dashboard?.subscribed_users}, {label: 'Total aid Out', color: '#21C55D', num: 'Nu. '+dashboard?.total_paid_out}  ]">
              <div class="rounded-8 bg-white p-20">
                <h3>{{ i.label }}</h3>
                <p class="text-58 bold leading-normal text-center mt-28" [style.color]="i.color">{{ i.num }}</p>
                <p class="text-gray text-center mt-32">{{i.label}}: {{i.num}}</p>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
