<!-- <div>
    <input type="checkbox" id="check">

<header>
  <label for="check">
    <i class="fas fa-bars" id="sidebar_btn"></i>
  </label>
  <div class="left_area">
    <h3>Lha Yoed</h3>
  </div>
  <div class="right_area">
    <a href="#" class="logout_btn">Logout</a>
  </div>
</header> -->

<mat-drawer-container class="hack-container" autosize>
  <mat-drawer #drawer opened class="hack-sidenav" mode="side">
    <div class="p-20">
      <img src="https://images.selise.club/ui-assets/images/logos/site_logo.svg" alt="logo" height="46px">
    </div>
    <div fxLayout="column" class="text-white px-16">

      <div class="text-center mt-32 mb-32">
        <img routerLink="user-profile" src="assets/images/profile.png" alt="profile" height="80px" width="80px" class="rounded-full mb-20 cursor-pointer">
        <p class="text-18 bold leading-normal">{{ currentUser?.name }}</p>
        <p class="text-gray">{{ currentUser?.email }}</p>
      </div>

      <div routerLink="landing" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px" routerLinkActive="hack-nav-list bold" class="hack-nav-list--hover px-20 py-12 cursor-pointer">
        <mat-icon class="text-20 material-icons-outlined">dashboard</mat-icon>
        <a class="text-16">Dashboard</a>
      </div>

      <div routerLink="job-posting" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px" routerLinkActive="hack-nav-list bold" class="hack-nav-list--hover px-20 py-12 cursor-pointer">
        <mat-icon class="text-20">signpost</mat-icon>
        <a class="text-16"><span>Job Posting</span></a>
      </div>

      <div routerLink="talents" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px" routerLinkActive="hack-nav-list bold" class="hack-nav-list--hover px-20 py-12 cursor-pointer">
        <mat-icon class="text-20">engineering</mat-icon>
        <a class="text-16"><span>Talents</span></a>
      </div>

      <div routerLink="your-projects" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px" routerLinkActive="hack-nav-list bold" class="hack-nav-list--hover px-20 py-12 cursor-pointer">
        <mat-icon class="text-20">workspaces_filled</mat-icon>
        <a class="text-16"><span>Your Projects</span></a>
      </div>

      <div routerLink="work-progress" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px" routerLinkActive="hack-nav-list bold" class="hack-nav-list--hover px-20 py-12 cursor-pointer">
        <mat-icon class="text-20">workspaces_filled</mat-icon>
        <a class="text-16"><span>Work Progress</span></a>
      </div>

       <div routerLink="chats" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px" routerLinkActive="hack-nav-list bold" class="hack-nav-list--hover px-20 py-12 cursor-pointer">
        <mat-icon class="text-20">workspaces_filled</mat-icon>
        <a class="text-16"><span>Chats</span></a>
      </div>

    </div>
  </mat-drawer>
  <div class="hack-content">
    <div class="hack-header cursor-pointer">
      <div (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </div>
    </div>
    <div class="hack-content__ content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
