.hack-container {
  height: 100vh;
}


.hack-sidenav {
  padding: 20px;
  width: 288px;
  height: 100%;
}

.hack-open {
  position: absolute;
  left: -10px;
  top: 12px;
  padding: 6px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid cadetblue;
  color: cadetblue;
  z-index: 99999;
  cursor: pointer;

  &:hover {
    background-color: #222;
    color: #FFFFFF;
  }
}

.hack-content {
  position: relative;

  &__content {
    padding: 20px;
  }
}

.hack-header {
  background-color: white;
  height: 64px;
  padding: 20px 32px;
  box-shadow: 0 2px 4px #cccccc;
}
