<h2 class="mb-20">CARD CREATION</h2>
<div [formGroup]="cardForm">
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Description</mat-label>
    <input matInput formControlName="description">
  </mat-form-field>
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Price</mat-label>
    <input matInput formControlName="price">
  </mat-form-field>
  <mat-form-field class="example-form-field" appearance="outline" class="w-full">
    <mat-label>Select Date</mat-label>
    <mat-date-range-input
      [rangePicker] = "campaignOnePicker">
      <input matStartDate placeholder="Start date" formControlName="startDate">
      <input matEndDate placeholder="End date" formControlName="endDate">
    </mat-date-range-input>

    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
  </mat-form-field>
  
  <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="12px">
    <button mat-button mat-stroked-button (click)="close()">CLOSE</button>
    <button mat-button class="bg-primary text-white" (click)="addCard()">SUBMIT CARD</button>
  </div>
</div>
