
<h2>JOB POST CREATION</h2>
<mat-dialog-content>
  <div [formGroup]="jobPostingForm">
    <mat-form-field appearance="outline" class="w-full">
      <input matInput type="text" formControlName="title" placeholder="title">
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <textarea matInput type="text" formControlName="description" placeholder="Description" rows="5"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <input matInput type="text" formControlName="location" placeholder="location">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <input matInput type="text" formControlName="cardTitle" placeholder="card-title">
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <input matInput type="text" formControlName="assignee" placeholder="Assignee">
    </mat-form-field>
  </div>
  <mat-form-field class="example-form-field" appearance="outline" class="w-full">
    <mat-label>Select Date</mat-label>
    <mat-date-range-input
      [formGroup]="campaignOne"
      [rangePicker]="campaignOnePicker"
      [comparisonStart]="campaignTwo.value.start"
      [comparisonEnd]="campaignTwo.value.end">
      <input matStartDate placeholder="Start date" formControlName="start">
      <input matEndDate placeholder="End date" formControlName="end">
    </mat-date-range-input>

    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
  </mat-form-field>
  <br>
  <div>
    <div class="file-upload" type="file" (click)="file.click()" style="cursor: pointer">Upload</div>
    <input [hidden]="true" class="image-uploader" #file  pattern="'.jpg,.jpeg,.png'"
           accept="image/jpg,image/jpeg,image/png" (click)="selectFiles($event)">
  </div>
  <input (keyup.enter)="addJobs(jobsControl.value)" [formControl]="jobsControl"><br>
  <mat-chip-list *ngFor="let chip of totalJobs">
    <mat-chip class="white-color">{{chip}}</mat-chip>
  </mat-chip-list>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button mat-button mat-stroked-button [mat-dialog-close]="true">cancel</button>
  <button mat-button mat-stroked-button color="primary" (click)="addJobPosting()" [disabled]="jobPostingForm.invalid">Add</button>
</mat-dialog-actions>
