.text {
  &-20 {
    font-size: 20px;
  }

  &-16 {
    font-size: 16px;
  }

  &-18 {
    font-size: 18px;
  }

  &-22 {
    font-size: 22px;
  }

  &-58 {
    font-size: 58px;
  }
}


.p-20 {
  padding: 20px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.p-8 {
  padding: 8px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.pl-8 {
  padding-left: 8px;
}

.pr-8 {
  padding-right: 8px;
}

.p-12 {
  padding: 12px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pl-20 {
  padding-left: 12px;
}

.pr-12 {
  padding-right: 12px;
}

.p-16 {
  padding: 16px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.pl-16 {
  padding-left: 16px;
}

.pr-16 {
  padding-right: 16px;
}

.p-20 {
  padding: 20px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.pl-24 {
  padding-left: 24px;
}

.pr-24 {
  padding-right: 24px;
}

.p-28 {
  padding: 28px;
}

.px-28 {
  padding-left: 28px;
  padding-right: 28px;
}

.pl-28 {
  padding-left: 28px;
}

.pr-28 {
  padding-right: 28px;
}

.p-32 {
  padding: 32px;
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.pl-32 {
  padding-left: 32px;
}

.pr-32 {
  padding-right: 32px;
}

.p-4 {
  padding: 4px;
}

.px-4 {
  padding-left: 4px;
  padding-right:40px;
}

.pl-4 {
  padding-left: 4px;
}

.pr-4 {
  padding-right: 4px;
}

.bg-white {
  background-color: white;
}

.text-white {
  color: white;
}

.bold {
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-black {
  color: #222222;
}

.rounded-full {
  border-radius: 100%;
}

.rounded-8 {
  border-radius: 8px;
}

.leading-normal {
  line-height: normal;
}

.mb-20 {
  margin-bottom: 20px;
}

.m-20 {
  margin: 20px;
}

.m-24 {
  margin: 24px;
}

.w-full {
  width: 100%;
}

.p-80 {
  padding: 80px;
}

.px-80 {
  padding-left: 80px;
  padding-right: 80px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.ml-8 {
  margin-left: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.m-8 {
  margin: 8px;
}

.ml-12 {
  margin-left: 12px;
}

.mr-12 {
  margin-right: 12px;
}

.mt-12 {
  margin-top: 12px;
}

.mb-12 {
  margin-bottom: 12px;
}

.m-12 {
  margin: 8px;
}

.ml-16 {
  margin-left: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.m-16 {
  margin: 16px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.m-20 {
  margin: 8px;
}

.ml-24 {
  margin-left: 24px;
}

.mr-24 {
  margin-right: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.m-24 {
  margin: 24px;
}

.ml-28 {
  margin-left: 28px;
}

.mr-28 {
  margin-right: 28px;
}

.mt-28 {
  margin-top: 28px;
}

.mb-28 {
  margin-bottom: 28px;
}

.m-28 {
  margin: 28px;
}

.ml-32 {
  margin-left: 32px;
}

.mr-32 {
  margin-right: 32px;
}

.mt-32 {
  margin-top: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.m-32 {
  margin: 32px;
}

.border-gray {
  border: 1px solid #E0E0E0;
}

.bg-primary {
  background-color: var(--primary);
}

.text-gray {
  color: #64738B;
}

.border-primary {
  border: 1px solid var(--primary);
}

.text-primary {
  color: var(--primary);
}
